
.allarea {
  height: 140px;
  color: rgb(255, 255, 255);
  display: grid;

  grid-template-columns: 1fr 1fr 3fr;
  
  grid-template-rows: 12fr 2fr 6fr;
  grid-template-areas:
  "title title gauge"
  "titlac titltr gauge"
  "actual target percent";
} 
.dalam {
  
  margin:auto;
  text-align: center;
  /* border-radius: 1em; */
}
.dalamtitle {
  
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 0.3em;

  /* border-radius: 1em; */
}
.gauge {
  
  border-top: solid;
  border-width: 0.5px;
  border-color: black;
  height: fit-content;
  grid-area: gauge;
  display: grid;
  color: black;
  background-color: white;
}
.title { 
  border: solid;
  border-width: 0.5px;
  font-size: 20px;
  grid-area: title;
  display: grid;
  color: black;
  background-color: white;
  
}
.percent {
  
  border-bottom: solid;
  border-width: 0.5px;
  font-size: 20px;
  display: grid;
  grid-area: percent;
  color: black;
  background-color:white;
}
.actual {
  border: solid;
  border-width: 0.5px;
  
  font-size: 20px;
  display: grid;
  grid-area: actual;
  color: black;
  background-color: rgb(218, 179, 145);
}
.target {
  border: solid;
  border-width: 0.5px;
  font-size: 20px;
  display: grid;
  grid-area: target;
  color: black;
  background-color: rgb(218, 179, 145);
}
.titlac {
  border: solid;
  border-width: 0.5px;
  display: grid;
  grid-area: titlac;
  color: black;
  background-color: rgb(218, 179, 145);
}
.titltr {
  border: solid;
  border-width: 0.5px;
  display: grid;
  grid-area: titltr;
  color: black;
  background-color: rgb(218, 179, 145);

}