
.allarea {
  width: 100%;
  height: 100%;
  color: white;
  display: grid;

  grid-template-columns: 1fr 3fr 1fr;

  grid-template-rows: 1fr 6fr;
  grid-template-areas:
  "title kosong percent"
  "gauge gauge gauge"
} 
.gauge {
  text-align: center;
  width: 100%;
  height: 100%;
  grid-area: gauge;
}
.title {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 30px;
  grid-area: title;
}
.percent {
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin: auto;
  grid-area: percent;
}
